#banner {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/BDBP8.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
}
#banner h1{
    font-size: 45px;
    font-weight: 900;
}
#banner p{
    width: 60%;
    text-align: justify;
}
.container {
    color: azure;
}




@media screen and (max-width: 900px) {
    .mobile-dark{
        background-color: black;
    }
    #banner {
        text-align: center;
    }
    #banner p {
        width: 100%;
        font-size: 14px;
        text-align: center;
    }
    #banner h1{
        font-size: 30px;
        font-weight: 700;
    }
}